<ion-content [fullscreen]="true">
  <div class="container">
    <ion-img class="icon" src="../../assets/icon/icon.svg"></ion-img>
    <ion-label color="primary" class="tittle">LA ALCANCÍA QUE SIEMPRE TE ACOMPAÑA</ion-label>
  </div>

  <div class="footer">
    <ion-button shape="round" expand="full" color="primary" class="button" (click)="irARegistro()">REGÍSTRATE</ion-button>
    <ion-button shape="round" expand="full" color="secondary" class="button">INGRESA</ion-button>
  </div>
</ion-content>
