<ion-header>
  <ion-toolbar>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="2">
          <ion-back-button
          color="primary"
          defaultHref="registro"
          icon="chevron-back-outline"
        ></ion-back-button>
        </ion-col>
        <ion-col size="10">
          <ion-title class="tittle">DATOS DE CUENTA</ion-title>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-img src="../../../assets/img/tab/2de3.svg" class="tab"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <ion-item>
      <ion-img src="../../assets/img/Oink.svg" class="img"></ion-img>
      <div>
        <label class="tittle">¿CUÁLES SON TUS DATOS?</label>
        <p>Ahora necesitamos saber algunos datos tuyos</p>
      </div>
    </ion-item>
    <div class="contentInput">
      <form [formGroup]="form" method="post">
        <ion-label>Documeto de identidad</ion-label>
        <ion-item>
          <ion-label position="floating">Tipo de documento</ion-label>
          <ion-select formControlName="tdocumento" interface="popover">
            <ion-select-option *ngFor="let documento of tpDocumento" value="{{documento.notation}}">{{documento.description}}</ion-select-option>
          </ion-select>
        </ion-item>

        <div class="alert-danger" *ngIf="tdocumento.invalid && (tdocumento.dirty || tdocumento.touched)">
          <div class="container-error-message" *ngIf="tdocumento.errors.required">
              <ion-icon slot="start" name="alert-circle-outline"></ion-icon> El campo es requerido
          </div>
        </div>

        <ion-item>
          <ion-label position="floating">Número de documento</ion-label>
          <ion-input type="number" formControlName="ndocumento"></ion-input>
        </ion-item>

        <div class="alert-danger" *ngIf="!ndocumento.valid && (ndocumento.dirty || ndocumento.touched)">
          <div class="container-error-message" *ngIf="ndocumento.errors.required">
              <ion-icon slot="start" name="alert-circle-outline"></ion-icon> El campo es requerido
          </div>
          <div class="container-error-message" *ngIf="ndocumento.errors.max">
            <ion-icon name="alert-circle-outline"></ion-icon> El campo supero el limite
          </div>
          <div class="container-error-message" *ngIf="ndocumento.errors.min">
            <ion-icon name="alert-circle-outline"></ion-icon> El campo debe ser superior a 8 digitos
          </div>
        </div>

        <ion-item>
          <ion-label position="floating">Fecha de nacimiento</ion-label>
          <ion-input [value]="dateValue" id="open-date-input"></ion-input>
          <ion-popover trigger="open-date-input" show-backdrop="false">
            <ng-template>
              <ion-datetime
                formControlName="fnacimiento"
                #popoverDatetime
                presentation="date"
                (ionChange)="dateValue = formatDate(popoverDatetime.value)"
              ></ion-datetime>
            </ng-template>
          </ion-popover>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Fecha de expedición del documento</ion-label>
          <ion-input [value]="dateValue2" id="open-date-input-2"></ion-input>
          <ion-popover trigger="open-date-input-2" show-backdrop="false">
            <ng-template>
              <ion-datetime
                formControlName="fexpedicion"
                #popoverDatetime2
                presentation="date"
                (ionChange)="dateValue2 = formatDate(popoverDatetime2.value)"
              ></ion-datetime>
            </ng-template>
          </ion-popover>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Genero</ion-label>
          <ion-select formControlName="genero" interface="popover">
            <ion-select-option *ngFor="let genero of tpGenero" value="{{genero.description}}">{{genero.name}}</ion-select-option>
          </ion-select>
        </ion-item>

        <div class="alert-danger" *ngIf="genero.invalid && (genero.dirty || genero.touched)">
          <div class="container-error-message" *ngIf="genero.errors.required">
              <ion-icon slot="start" name="alert-circle-outline"></ion-icon> El campo es requerido
          </div>
        </div>

        <ion-label>Configura tu cuenta</ion-label>
        <ion-item>
          <ion-label position="floating">Correo electrónico</ion-label>
          <ion-input formControlName="email" type="email" (ionChange)="validarCorreo()"></ion-input>
        </ion-item>

        <div class="alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
          <div class="container-error-message" *ngIf="email.errors.required">
              <ion-icon slot="start" name="alert-circle-outline"></ion-icon> El campo es requerido
          </div>
          <div class="container-error-message" *ngIf="(email.dirty || email.touched) && email.invalid && email.errors.pattern">
              <ion-icon slot="start" name="alert-circle-outline"></ion-icon> El correo no es valido
          </div>
        </div>
        
        <ion-item>
          <ion-label position="floating">Confirmar correo electrónico</ion-label>
          <ion-input formControlName="email2" type="email" (ionChange)="validarCorreo()"></ion-input>
        </ion-item>

        <div class="alert-danger" *ngIf="email2.invalid && (email2.dirty || email2.touched)">
          <div class="container-error-message" *ngIf="email2.errors.required">
              <ion-icon slot="start" name="alert-circle-outline"></ion-icon> El campo es requerido
          </div>
          <div class="container-error-message" *ngIf="(email2.dirty || email2.touched) && email2.invalid && email2.errors.pattern">
              <ion-icon slot="start" name="alert-circle-outline"></ion-icon> El correo no es valido
          </div>
        </div>
        <div class="alert-danger" *ngIf="(email2.dirty || email2.touched) && !correoIgual == true">
          <div class="container-error-message">
            <ion-icon slot="start" name="alert-circle-outline"></ion-icon> Este campo no coincide con el correo electrónico
          </div>
        </div>

        <ion-item>
          <ion-label position="floating">PIN de seguridad</ion-label>
          <ion-input formControlName="pin" type="password" (ionChange)="validarPin()"></ion-input>
        </ion-item>

        <div class="alert-danger" *ngIf="pin.invalid && (pin.dirty || pin.touched)">
          <div class="container-error-message" *ngIf="pin.errors.required">
              <ion-icon slot="start" name="alert-circle-outline"></ion-icon> El campo es requerido
          </div>
        </div>

        <ion-item>
          <ion-label position="floating">Confirmar PIN de seguridad</ion-label>
          <ion-input formControlName="pin2" type="password" (ionChange)="validarPin()"></ion-input>
        </ion-item>
        <div class="alert-danger" *ngIf="pin2.invalid && (pin2.dirty || pin2.touched)">
          <div class="container-error-message" *ngIf="pin2.errors.required">
              <ion-icon slot="start" name="alert-circle-outline"></ion-icon> El campo es requerido
          </div>
        </div>
        <div class="alert-danger" *ngIf="(pin2.dirty || pin2.touched) && !pinIgual == true">
          <div class="container-error-message">
            <ion-icon slot="start" name="alert-circle-outline"></ion-icon> Este campo no coincide con el PIN
          </div>
        </div>
      </form>
      <div class="contetnInput">
        <ion-button shape="round" expand="full" class="button" [disabled]="validarFormulario()" (click)="registrar()">SIGUIENTE</ion-button>
      </div>
    </div>
  </div>
</ion-content>

