<ion-header>
  <ion-toolbar>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="2">
          <ion-back-button
          color="primary"
          defaultHref="home"
          icon="chevron-back-outline"
        ></ion-back-button>
        </ion-col>
        <ion-col size="10">
          <ion-title class="tittle">NÚMERO CELULAR</ion-title>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-img src="../../assets/img/tab/1de3.svg" class="tab"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <ion-item>
      <ion-img src="../../assets/img/Oink.svg" class="img"></ion-img>
      <p>
        Para comenzar, por favor ingresa <span>tu número celular.</span>
      </p>
    </ion-item>
    <div class="contentInput">
      <ion-input 
        type="tel"
        placeholder="( X X X - X X X X X X X )"
        class="input"
        disabled
        [(ngModel)]="telefono"
        max="10"
      ></ion-input>
      <ion-grid fixed class="tel">
        <ion-row>
          <ion-col size="4" class="tel" (click)="ingresarNumero(1)">1</ion-col>
          <ion-col size="4" class="tel" (click)="ingresarNumero(2)">2</ion-col>
          <ion-col size="4" class="tel" (click)="ingresarNumero(3)">3</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4" class="tel" (click)="ingresarNumero(4)">4</ion-col>
          <ion-col size="4" class="tel" (click)="ingresarNumero(5)">5</ion-col>
          <ion-col size="4" class="tel" (click)="ingresarNumero(6)">6</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4" class="tel" (click)="ingresarNumero(7)">7</ion-col>
          <ion-col size="4" class="tel" (click)="ingresarNumero(8)">8</ion-col>
          <ion-col size="4" class="tel" (click)="ingresarNumero(9)">9</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4" class="tel" (click)="borrarNumero()">
            <ion-icon name="backspace-outline"></ion-icon>
          </ion-col>
          <ion-col size="4" class="tel" (click)="ingresarNumero(0)">0</ion-col>
          <ion-col size="4" class="tel">
            <ion-fab-button class="checkButton" [disabled]="!numValido" (click)="enviarNumero()">
              <ion-icon name="checkmark-outline"></ion-icon>
            </ion-fab-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>