<ion-header>
  <ion-toolbar>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="2">
          <ion-back-button
          color="primary"
          defaultHref="registro/codigo-seguridad"
          icon="chevron-back-outline"
        ></ion-back-button>
        </ion-col>
        <ion-col size="10">
          <ion-title class="tittle">FINALIZAR</ion-title>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-img src="../../../assets/img/tab/3de3.svg" class="tab"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <ion-item>
      <ion-img src="../../assets/img/OinkPolicia.svg" class="img"></ion-img>
      <div>
        <label class="tittle">ESTAS MUY CERCA DE SER PARTE DE COINK.</label>
        <p>Solo es necesario que leas detenidamente el contrato que se encuentra al final de esta pantalla y lo aceptes.</p>
      </div>
    </ion-item>
    <div class="contentInput">
      <ion-label>LO MÁS IMPORTANTE</ion-label>
      <p>
        Para la apertura del Depósito de Bajo Monto en COINK debes ser una persona natural que de acuerdo con nuestra legislación vigente te encuentres en plena capacidad para adquirir derechos y contraer obligaciones. 
      </p>
      <p>
        Abrirás una cuenta COINK de Bajo Monto la cual te permitirá tener un saldo hasta por 8 salarios mínimos en el mes y realizar débitos por el mismo valor. 
        Si deseas sobrepasar estos límites debes solicitarnos la apertura de un Depósito Ordinario COINK Persona Natural.
      </p>
      <p>
        Solo puedes tener una cuenta COINK de Bajo Monto y podrás utilizar tu dispositivo móvil para consultar tu saldo, tus movimientos, realizar tus transacciones y administrar tu cuenta. 
      </p>
      <p>
        Recuerda que no necesitas saldo mínimo ni monto inicial para su apertura.
      </p>
    </div>
    <div class="contetnInput">
      <a>Lee tu contrato</a>
    </div>
    <div class="contentCheck">
      <ion-checkbox color="primary" slot="start" (ionChange)="checked($event)"></ion-checkbox>
      <ion-label class="textcheck">He leído ya acepto el contrato</ion-label>
    </div>
    <div class="contetnInput">
      <ion-button shape="round" expand="full" class="button" [disabled]="!isChecked" (click)="finalizar()">ACEPTAR</ion-button>
    </div>
  </div>
</ion-content>
